/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { 
    height: 100%;
}

body {
  background-color: #FFF;
    font-size: 100%;
    color: #494949;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
	line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #00a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-size: 1.25em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 1.15em;
  text-align: justify;
  width: 75%;
  margin: 3em auto 2em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
  font-weight: bold;
}

.site .header h1.title a {
	font-size: 2em;
	color: #000;
}

.site .header h1.title a:hover {
  color: #888;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 0.8em;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Navigation
/*
/*****************************************************************************/

nav {
}

nav ul {
  margin-bottom: 1em;
  padding: .5em;
  list-style-type: none;
  text-align: center;
}

nav ul li{
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 0.2em 2em 0.2em 2em;
  color: #FFF;
}

nav ul li a img {
  max-height: 2em;
  max-width: 2em;
}



/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* main elements */
.post {
  margin-bottom: 6em;
}

.post span.date {
  color: #aaa;
  font-size: 1.25em;
}

/* Item List */
ul.item-list {
	list-style: none;
	margin: 0; 
	padding: 0;
}

ul.item-list li {
	background: url('../images/bullet.png') no-repeat 0 0;
	padding-left: 1.2em;
	margin-bottom: 10px;
}

ul.item-list li legend{
	font-weight:900;
	line-height: 26px;
}

ul.item-list li div {
	padding-left: 2%;
}

/* Item List */
div.step {
	margin-bottom: 10px;
}

div.step legend {
	font-weight:900;
	line-height: 26px;
}

div.step div {
}


/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0.2em;
}

.post pre code {
  border: none;
}

.post img.headline {
  width: 100%;
}


/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
