/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@font-face {
	font-family: 'FiraCode';
	src: url('../font/FiraCode-Regular.eot');
	src: url('../font/FiraCode-Regular.eot?#iefix') format('embedded-opentype'), 
		 url('../font/FiraCode-Regular.woff2') format('woff2'),
		 url('../font/FiraCode-Regular.woff') format('woff'),
		 url('../font/FiraCode-Regular.ttf')  format('truetype');
}

/* Global Reset */
* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, 
body { 
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #F7F7F7;
	font-size: 100%;
	color: #494949;
	font-family: 'FiraCode', Courier, monospace;
	line-height: 1.2em;
	min-height: 100%;
}

#container {
	min-height:100%;
	position:relative;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%; 
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #00a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
	list-style-type: none;
	margin-bottom: 2em;
}

ul.posts li {
	line-height: 1.75em;
}

ul.posts span {
	color: #aaa;
	font-size: 1.25em;
}

/*****************************************************************************/
/*
/* Content body
/*
/*****************************************************************************/

#body {
	margin: 0 auto;
	padding-top: 64px;
	padding-bottom: 6em;
	max-width: 640px;
	width: 94%;
}

#body .header  {
	min-height: 180px;
}

#body .header a {
	font-weight: bold;
	text-decoration: none;
}

#body .header h1.title {
	display: inline-block;
	margin-bottom: 2em;
	font-weight: bold;
}

#body .header h1.title a {
	font-size: 2em;
	color: #000;
}

#body .header h1.title a:hover {
	color: #888;
}

#body .header a.extra {
	color: #aaa;
	margin-left: 1em;
}

#body .header a.extra:hover {
	color: #000;
}

#body .meta {
	color: #aaa;
}

#body #home{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.col-w1 {
	width: 20%;
	vertical-align: top;
	display: inline-block;
}

.col-w2 {
	width: 75%;
	vertical-align: top;
	display: inline-block;
}

.col-w3 {
	width: 100%;
	vertical-align: top;
	display: inline-block;
}

#contact {
	width: 100%;
}

#contact a {
	text-decoration: none;
	display: block;
	width: 100%;
	text-align: center;
}

#contact a img {
	max-height: 3em;
	max-width: 3em;
	margin-left: auto;
	margin-right: auto;
	
}

.horizontal-list {
	list-style-type: none;
	width: 100%;
	text-align:center;
}

.horizontal-list li {
	display: inline-block;
	padding: 0 1em 0 1em;
}

.horizontal-list .mid {
	height: 128px;
	width: 128px;
}

.horizontal-list .mid img {
	max-height: 128px;
	max-width: 128px;
}

.horizontal-list li a {
	display: inline-block;
	line-height: 52px;
	text-align: center;
	text-decoration: none;
}

/*****************************************************************************/
/*
/* Navigation
/*
/*****************************************************************************/

nav {
	width: 100%;
}

#nav-title {
	display: block;
	margin: 0.5em;
	font-size: 2em;
	font-weight: bold;
}

#nav-title a {
	text-decoration: none;
	color: #000;
}

#nav-title a:hover {
	color: #888;
}

#nav-title a.extra {
	color: #aaa;
	margin-left: 1em;
}

#nav-title a.extra:hover {
	color: #000;
}

#nav-links {
	display: block;
	text-align: center;
	margin-right: 1em;
	list-style-type: none;
	height: 100%;
}

#nav-links li {
	display: inline-block;
	padding: 0 1em 0 1em;
	height: 100%;
}

#nav-links li a {
	display: inline-block;
	line-height: 52px;
	text-align: center;
	text-decoration: none;
	color: #000;
	font-weight: 700;
}

#nav-links li a:hover {
	color: #888;
}

/*****************************************************************************/
/*
/* Project
/*
/*****************************************************************************/

.project {
	margin-top: 60px;
	width: 100%;
}

.project img {
	max-width: 95%;
	max-height: 95%;
}

.project h1 {
	font-size: 1em;
}

.project a {
	color: #494949;
	text-decoration: none;
}

.project a:hover {
	color: #777;
}

.project a:visited {
	color: #494949;
}

/*****************************************************************************/
/*
/* header
/*
/*****************************************************************************/

header {
	background-color: #444140;
	padding-top: 20px;
	padding-bottom: 10px;
	width: 100%;
	margin-bottom: 20px;
}

header img {
	display: block;
	margin: 0 auto 20px auto;
	max-height: 200px;
	max-width: 200px;
}

header h1 {
	padding-top: 10px;
	padding-bottom: 5px;
	width: 100%;
	text-align: center;
	font-size: 2em;
	color: #AAA;
}

header p {
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	color: #CCC;
}

/*****************************************************************************/
/*
/* footer
/*
/*****************************************************************************/

footer_dnee {
	font-size: 0.8em;
	color: #EEE;
	position: absolute;
	left: 0;
	bottom: 0;
	border-top: 1px solid #ccc;
	background-color: #1E1E24;
	height: 2.6em;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 2em;
	width: 100%;
	overflow: hidden;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4.6em;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 2em;
	font-size: 0.8em;
	color: #EEE;
	border-top: 1px solid #ccc;
	background-color: #1E1E24;
	text-align: center;
	overflow: hidden;
}

footer .contact {
	float: left;
	margin-left: 2em;
}

footer .social-links {
	float: right;
	margin-right: 2em;
}

footer .social-links ul li {
	display: inline-block;
	height: 2em;
	width: 2em;
}

footer .social-links ul li a {
	text-decoration: none;
}

footer .social-links ul li a img {
	max-height: 1.5em;
	max-width: 1.5em;
}



/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* main elements */
.post {
	margin-bottom: 6em;
}

.post span.date {
	color: #aaa;
	font-size: 1.25em;
}

/* Item List */
ul.item-list {
	list-style: none;
	margin: 0; 
	padding: 0;
}

ul.item-list li {
	background: url('../images/bullet.png') no-repeat 0 0;
	padding-left: 1.2em;
	margin-bottom: 10px;
}

ul.item-list li legend{
	font-weight:900;
	line-height: 26px;
}

ul.item-list li div {
	padding-left: 2%;
}

/* Item List */
div.step {
	margin-bottom: 10px;
}

div.step legend {
	font-weight:900;
	line-height: 26px;
}

div.step div {
}


/* standard */
.post pre {
	border: 1px solid #ddd;
	background-color: #eef;
	padding: 0 .4em;
}

.post ul, .post ol {
	margin-left: 1.35em;
}

.post code {
	border: 1px solid #ddd;
	background-color: #eef;
	padding: 0.2em;
}

.post pre code {
	border: none;
}

.post img.headline {
	width: 100%;
}


/* terminal */
.post pre.terminal {
	border: 1px solid #000;
	background-color: #333;
	color: #FFF;
}

.post pre.terminal code {
	background-color: #333;
}
