<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" type="image/x-icon" href="../favicon.png" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <nav>
			    <ul>
				    <li><a href="/"><img src="../images/home.png" /></a></li>
					<li><a href="/about.html"><img src="../images/smirk.png" /></a></li>
					<li><a href="https://github.com/BozarthPrime" target="_blank"><img src="../images/github_icon.png" /></a></li>
					<li><a href="https://plus.google.com/113257511877818615265" target="_blank"><img src="../images/google_plus.png" /></a></li>
					<li><a href="http://www.linkedin.com/pub/joseph-bozarth/21/9bb/35a" target="_blank"><img src="../images/linkedin1.png" /></a></li>
					<li><a href="https://tinkercad.com/users/gjJcvbOv3hv-joseph-bozarth" target="_blank"><img src="../images/tinkercad-logo.png" /></a></li>
				</ul>
			</nav>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Joseph Bozarth<br />
                Software Developer, Maker, and Geek From Milwaukee, Wi<br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
